* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323d42;
    position: relative;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 1px;

}

.balls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ball {
    width: 24px;
    height: 24px;


    border-radius: 100%;
    position: relative;
    animation-name: firstball;
    animation-duration: 9.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    background-color: rgba(156, 154, 154, 0.845);
    box-shadow: 0 0 10px #a7a5a5,
        0 0 20px #fffcfc,
        0 0 60px #969393,
        0 0 80px #969393;

}

.balls-wrapper .ball:nth-child(1) {
    animation-delay: 0s;

}

.balls-wrapper .ball:nth-child(2) {
    animation-delay: 0.1s;

}

.balls-wrapper .ball:nth-child(3) {
    animation-delay: 0.2s;

}

.balls-wrapper .ball:nth-child(4) {
    animation-delay: 0.3s;

}

.balls-wrapper .ball:nth-child(5) {
    animation-delay: 0.4s;

}

.balls-wrapper .ball:nth-child(6) {
    animation-delay: 0.5s;

}

.balls-wrapper .ball:nth-child(7) {
    animation-delay: 0.6s;

}

.balls-wrapper .ball:nth-child(8) {
    animation-delay: 0.7s;

}

.balls-wrapper .ball:nth-child(9) {
    animation-delay: 0.8s;

}

.balls-wrapper .ball:nth-child(10) {
    animation-delay: 0.9s;

}

.balls-wrapper .ball:nth-child(11) {
    animation-delay: 1.0s;

}

.balls-wrapper .ball:nth-child(12) {
    animation-delay: 1.1s;

}

.balls-wrapper .ball:nth-child(13) {
    animation-delay: 1.2s;

}

.balls-wrapper .ball:nth-child(14) {
    animation-delay: 1.3s;

}

.balls-wrapper .ball:nth-child(15) {
    animation-delay: 1.4s;

}

.balls-wrapper .ball:nth-child(16) {
    animation-delay: 1.5s;

}

.balls-wrapper .ball:nth-child(17) {
    animation-delay: 1.6s;

}

.balls-wrapper .ball:nth-child(18) {
    animation-delay: 1.7s;

}

.balls-wrapper .ball:nth-child(19) {
    animation-delay: 1.8s;

}

.balls-wrapper .ball:nth-child(20) {
    animation-delay: 1.9s;

}



@keyframes firstball {
    0% {


        opacity: 0%;
        z-index: 1;
    }

    10% {
        top: 50px;
        opacity: 0%;
        z-index: 50;
    }

    25% {
        top: -50px;
        opacity: 100%;
        z-index: 1;
    }

    50% {

        top: 100px;
        z-index: 1;
        opacity: 0%;

    }

    60% {
        top: 100px;
        opacity: 0%;
        z-index: 1;
    }

    75% {
        top: 100px;
        opacity: 0%;
        z-index: 0;
    }

    90% {
        top: -50px;
        opacity: 100%;
        z-index: 1;
    }

    100% {
        top: 50px;
        opacity: 0%;
        z-index: 2;
    }
}

.ball1 {
    width: 24px;
    height: 24px;
    background-color: rgba(156, 154, 154, 0.845);
    box-shadow: 0 0 10px #a7a5a5,
        0 0 20px #fffcfc,
        0 0 60px #969393,
        0 0 100px #fff;

    ;

    border-radius: 100%;
    position: relative;
    animation-name: secondball;
    animation-duration: 9.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    left: 0px;

}

.balls-wrapper .ball1:nth-child(1) {
    animation-delay: 0s;

}

.balls-wrapper .ball1:nth-child(2) {
    animation-delay: 0.1s;

}

.balls-wrapper .ball1:nth-child(3) {
    animation-delay: 0.2s;

}

.balls-wrapper .ball1:nth-child(4) {
    animation-delay: 0.3s;

}

.balls-wrapper .ball1:nth-child(5) {
    animation-delay: 0.4s;

}

.balls-wrapper .ball1:nth-child(6) {
    animation-delay: 0.5s;

}

.balls-wrapper .ball1:nth-child(7) {
    animation-delay: 0.6s;

}

.balls-wrapper .ball1:nth-child(8) {
    animation-delay: 0.7s;

}

.balls-wrapper .ball1:nth-child(9) {
    animation-delay: 0.8s;

}

.balls-wrapper .ball1:nth-child(10) {
    animation-delay: 0.9s;

}

.balls-wrapper .ball1:nth-child(11) {
    animation-delay: 1s;

}

.balls-wrapper .ball1:nth-child(12) {
    animation-delay: 1.1s;

}

.balls-wrapper .ball1:nth-child(13) {
    animation-delay: 1.2s;

}

.balls-wrapper .ball1:nth-child(14) {
    animation-delay: 1.3s;

}

.balls-wrapper .ball1:nth-child(15) {
    animation-delay: 1.4s;

}

.balls-wrapper .ball1:nth-child(16) {
    animation-delay: 1.5s;

}

.balls-wrapper .ball1:nth-child(17) {
    animation-delay: 1.6s;

}

.balls-wrapper .ball1:nth-child(18) {
    animation-delay: 1.7s;

}

.balls-wrapper .ball1:nth-child(19) {
    animation-delay: 1.8s;

}

.balls-wrapper .ball1:nth-child(20) {
    animation-delay: 1.9s;

}


@keyframes secondball {
    0% {
        top: -50px;
        opacity: 0%;
        z-index: 50;
    }

    10% {
        opacity: 0%;
        z-index: 1;
    }

    25% {
        top: 0px;
        opacity: 100%;
        z-index: 1;
    }

    50% {
        top: -100px;
        opacity: 0%;
        z-index: 1;
    }

    60% {
        top: -100px;
        opacity: 0%;
        z-index: 1;
    }

    75% {
        /* top: 0px;
        opacity: 100%; */
        top: -100px;
        opacity: 0%;
        z-index: 0;
    }

    90% {
        top: 0px;
        opacity: 100%;
        z-index: 1;
    }

    100% {
        top: -50px;
        opacity: 0%;
        z-index: 2;
    }
}

.disa {
    opacity: 0%;
}

/* letter animation */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tbox {
    color: #323d42;
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px #a7a5a5,
        0 0 20px #fffcfc,
        0 0 60px #969393,
        0 0 100px #fff,
        0 0 180px #f5f2f2;
    position: absolute;
    animation-name: letters;
    animation-duration: 5.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    animation-fill-mode: forwards;

}

.boxx {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 43%;
    left: 40%;

}

.tbox:nth-child(1) {
    font-size: 50px;
    position: relative;
    animation-delay: 3.15s;
    opacity: 0%;
}

.tbox:nth-child(2) {
    font-size: 50px;
    position: relative;
    animation-delay: 3.30s;
    opacity: 0%;
}

.tbox:nth-child(3) {
    font-size: 50px;
    position: relative;
    animation-delay: 3.45s;
    opacity: 0%;
}

.tbox:nth-child(4) {
    font-size: 50px;
    position: relative;
    animation-delay: 3.6s;
    opacity: 0%;
}

.tbox:nth-child(5) {
    font-size: 50px;
    position: relative;
    animation-delay: 3.7s;
    opacity: 0%;
}

.tbox:nth-child(6) {
    font-size: 50px;
    position: relative;
    animation-delay: 3.8s;
    opacity: 0%;
}

.tbox:nth-child(7) {
    font-size: 50px;
    position: relative;
    animation-delay: 4.0s;
    opacity: 0%;
}

.tbox:nth-child(8) {
    font-size: 50px;
    position: relative;
    animation-delay: 4.2s;
    opacity: 0%;
}

.tbox:nth-child(9) {
    font-size: 50px;
    position: relative;
    animation-delay: 4.4s;
    opacity: 0%;
}

@keyframes letters {
    0% {

        left: 5%;
        opacity: 0%;
        top: 40%;
        z-index: 1;

    }



    50% {
        left: -5%;
        opacity: 100%;
        top: 40%;
        z-index: 1;
    }




    100% {
        left: 5%;
        opacity: 0%;
        top: 40%;
        z-index: 1;

    }
}

/*ending animation*/
.wallcont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;


}

.wall {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wall1 {
    background-color: #323d42;
    position: absolute;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.wall2 {
    background-color: #323d42;
    position: absolute;
    display: flex;
    align-items: center;
}

.line1 {
    background-color: #323d42;
    height: 100%;
    width: 10%;

    animation-name: rightshift;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: none;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    opacity: 0%;
}


.line1:nth-child(20) {
    animation-delay: 10s;

}

.line1:nth-child(19) {
    animation-delay: 10.1s;

}

.line1:nth-child(18) {
    animation-delay: 10.2s;

}

.line1:nth-child(17) {
    animation-delay: 10.3s;

}

.line1:nth-child(16) {
    animation-delay: 10.4s;

}

.line1:nth-child(15) {
    animation-delay: 10.5s;

}

.line1:nth-child(14) {
    animation-delay: 10.6s;

}

.line1:nth-child(13) {
    animation-delay: 10.7s;

}

.line1:nth-child(12) {
    animation-delay: 10.8s;

}

.line1:nth-child(11) {
    animation-delay: 10.9s;

}
.line1:nth-child(10) {
    animation-delay: 11s;

}

.line1:nth-child(9) {
    animation-delay: 11.1s;

}

.line1:nth-child(8) {
    animation-delay: 11.2s;

}

.line1:nth-child(7) {
    animation-delay: 11.3s;

}

.line1:nth-child(6) {
    animation-delay: 11.4s;

}

.line1:nth-child(5) {
    animation-delay: 11.5s;

}

.line1:nth-child(4) {
    animation-delay: 11.6s;

}

.line1:nth-child(3) {
    animation-delay: 11.7s;

}

.line1:nth-child(2) {
    animation-delay: 11.8s;

}

.line1:nth-child(1) {
    animation-delay: 11.9s;

}




@keyframes rightshift {
    0% {
        opacity: 0%;
        background-color: white;
    }

    20% {
        opacity: 100%;
        background-color: white;
    }

    40% {
        opacity: 75%;
        background-color: white;
    }

    65% {
        opacity: 50%;
        background-color: white;
    }
    80% {
        opacity: 25%;
        background-color: white;
    }

    100% {
        opacity: 0%;
        background-color: white;
    }
}

.line2 {
    background-color: #323d42;
    height: 100%;
    width: 10%;
    animation-name: leftshift;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: none;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    opacity: 0%;
}

.line2:nth-child(1) {
    animation-delay: 10s;

}

.line2:nth-child(2) {
    animation-delay: 10.1s;

}

.line2:nth-child(3) {
    animation-delay: 10.2s;

}

.line2:nth-child(4) {
    animation-delay: 10.3s;

}

.line2:nth-child(5) {
    animation-delay: 10.4s;

}

.line2:nth-child(6) {
    animation-delay: 10.5s;

}

.line2:nth-child(7) {
    animation-delay: 10.6s;

}

.line2:nth-child(8) {
    animation-delay: 10.7s;

}

.line2:nth-child(9) {
    animation-delay: 10.8s;

}

.line2:nth-child(10) {
    animation-delay: 10.9s;

}
.line2:nth-child(11) {
    animation-delay: 11s;

}

.line2:nth-child(12) {
    animation-delay: 11.1s;

}

.line2:nth-child(13) {
    animation-delay: 11.2s;

}

.line2:nth-child(14) {
    animation-delay: 11.3s;

}

.line2:nth-child(15) {
    animation-delay: 11.4s;

}

.line2:nth-child(16) {
    animation-delay: 11.5s;

}

.line2:nth-child(17) {
    animation-delay: 11.6s;

}

.line2:nth-child(18) {
    animation-delay: 11.7s;

}

.line2:nth-child(19) {
    animation-delay: 11.8s;

}

.line2:nth-child(20) {
    animation-delay: 11.9s;

}
@keyframes leftshift {
    0% {
        opacity: 0%;
        background-color: white;
    }

    20% {
        opacity: 100%;
        background-color: white;
    }

    40% {
        opacity: 75%;
        background-color: white;
    }

    60% {
        opacity: 50%;
        background-color: white;
    }
    80% {
        opacity: 25%;
        background-color: white;
    }

    100% {
        opacity: 0%;
        background-color: white;
    }
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}
